body {
  width: 1600px;
  height: 2349px;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  background: #ffffff;
  color: #212121;
}

ul > li {
  list-style-type: none;
  display: inline;
}

header {
  display: inline-flex;
  height: 5rem;
}

header > span {
  padding: 32px 215px 32px 195px;
}

h1 {
  text-align: center;
  width: 696px;
  height: 120px;

  font-weight: 900;
  font-size: 2.75rem;
  line-height: 3.75rem;
  text-align: center;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: #ffffff;
}

section {
  padding: 0 215px 0 215px;
}

.page {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
  color: #212121;
  padding-right: 46px;
  padding-bottom: 27px;
}

h2 {
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 0.875rem;
  text-align: left;
}

.page:hover {
  color: #2196f3;
}

.page:focus {
  color: #2196f3;
}

button {
  border-style: none;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1, 63em;
  text-align: center;
  letter-spacing: 0.03rem;
  cursor: pointer;
}
.main-button {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 40px 10px 40px;
  width: 200px;
  height: 50px;
}

.main-button:hover,
.main-button:focus {
  background-color: #fff;
  color: #2196f3;
}

button:hover,
button:focus {
  background-color: #2196f3;
  color: #fff;
}

.logo-front {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.625rem;
  padding-left: 215px;
  text-decoration: none;
}

.logo-back {
  color: #000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.625rem;
  margin-top: 24px;
  padding-right: 93px;
  text-decoration: none;
}

.logo-backfooter {
  color: #fff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.625rem;
  margin-top: 60px;
}

.our-team {
  background: #f5f4fa;
  font-weight: 700;
  font-size: 0.875rem;
}

.card {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  background: #fff;
  box-shadow: #000103, #000101, #000201;
  border-radius: 4px;
  border-style: none;
  width: 270px;
  height: 260px;
}

footer {
  background-color: #2f303a;
  height: 252px;
  color: #fff;
}

.page-footer {
  font-size: 0.875rem;
  line-height: 1, 71;
  letter-spacing: 1, 713rem;
  text-decoration-line: none;
  color: #ffffff99;
}

.page-footer:hover {
  color: #2196f3;
}

.page-footer:focus {
  color: #2196f3;
}

.top {
  height: 37.5rem;
  background: #2f303a;
}

address {
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1, 71;
  letter-spacing: 0.03rem;
  padding-left: 215px;
  padding-top: 111px;
}
.image {
  width: 370px;
  height: 294px;
}
