:root {
  --primary-color: #2196f3;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
}

.heads a {
  color: var(--primary-color);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.heads span {
  color: #000000;
}

.heads nav a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
}

.heads nav a.active {
  color: var(--primary-color);
}

.heads nav a:hover {
  color: var(--primary-color);
}

.heads a:hover,
.heads a:focus {
  color: #2196f3;
  text-decoration: underline;
}

.heads > div a {
  color: #757575;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
}

.heads div a:hover {
  color: #2196f3;
}
.section-info h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: #2f303a;
}
.section-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-info button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: #00000f;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  outline: none;
}

.article-info > ul > li > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.ul-info > li > div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.ul-info > li {
  list-style: none;
}

.ul-info > li > p > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.ul-info > li > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-info a {
  color: var(--primary-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-info span {
  color: #ffffff;
}

.footer-info a:hover {
  text-decoration: underline;
}

.address-info a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff99;
  text-decoration: none;
}
.footer-info {
  background-color: #2f303a;
}
.address-info a:hover {
  color: var(--primary-color);
}
.address-info div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-info div:hover {
  color: var(--primary-color);
}

.ul-info-port {
  list-style: none;
}

.ul-info-port h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.ul-info-port input[type="button"] {
  margin: 5px;
  width: 121px;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  outline: none;
  border-radius: 4px;
}
.ul-info-port [type="button"] .active,
input[type="button"]:hover {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.ul-info-port p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
